doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Pug
  body
   h1 Pug Examples
    div.container
      p Cool Pug example!
