<!-- Tiedoston nimi on loggedin.ejs -->
<!DOCTYPE html>
<html>
  <body>
    <h1>Tervetuloa, <%= data[0].username %></h1>
  <p>
    T채m채 alue on tarkoitettu vain kirjautuneille k채ytt채jille!
  </p>
    
    </table>
  </body>
</html>
