<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- HUOM! Bootstrapin vanha versio jyr채채 omat tyylit, eli ne eiv채t n채y vaikka tulevat liitetyksi mukaan -->
<link rel="stylesheet" type="text/css" href="css/testi.css" />

<style>
    body    { padding-top:50px; }
</style>
 
